.customhero-container {
    padding: 0!important;
    height: 1036px;
}

.customhero-wrapper {
    max-width: 100vw!important;
}

.hero-container {
    position: relative;
}

.hero-box {
    position: absolute;
    top: 48px;
    left: 20px;
    background-color: #fff;
    border-radius: 24px;
    min-width: 650px;
}

.hero-box-title {
    background: linear-gradient(to right, #14847f, #1c8a77 15.3%, #59b83b 82.8%, #63bf32);
    padding: 12px 0;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    width: 100%;
}

.hero-box-title p {
    font-size: 24px;
    color: #fff;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero-box-content {
    width: fit-content;
    margin: auto;
    
}

.hero-box-top {
    margin-left: -30%;
    width: fit-content;
}

.hero-box-top p,.hero-box-bottom p {
    color: #50555b;
    font-size: 24px;
    font-weight: 700;
}

.hero-box-middle p {
    font-size: 36px;
    color: #14847f;
    margin: 0;
}

.hero-box-bottom {
    margin-right: -30%;
    width: fit-content;
}